/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: raleway;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 10px;
    background: #26577C;
}

::selection {
    color: #F3F4ED;
    background: #26577C;
}

.wrapper {
    width: 700px;
    padding: 60px;
    border-radius: 16px;
    background: #F3F4ED;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
}

.wrapper header {
    font-size: 28px;
    font-weight: 600;
    color: #26577C;
    text-align: center;
    margin-left: 20%;
}

.wrapper form {
    margin: 40px 0 20px 0;
}

form :where(input, select, button) {
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: none;
}

form p {
    font-size: 24px;
    margin-bottom: 8px;
    color: #26577C;
}

form input {
    height: 60px;
    font-size: 30px;
    font-weight: 500;
    padding: 0 15px;
    border: 2px solid #E65703FE;
    color: #26577C;
}

form input:focus {
    padding: 0 14px;
    border: 2px solid #E65703FE;
}

form .drop-list {
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
}

.drop-list .select-box {
    display: flex;
    width: 132px;
    height: 60px;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    border: 1px solid #E65703;
    background: #fff;
}

.select-box img {
    max-width: 30px;
}

.select-box select {
    width: auto;
    font-size: 24px;
    margin: 0 -5px 0 5px;
    color: #26577C;
    font-weight: 500;
}

.select-box select::-webkit-scrollbar {
    width: 8px;
}

.select-box select::-webkit-scrollbar-track {
    background: #fff;
}

.select-box select::-webkit-scrollbar-thumb {
    background: #E65703;
    border-radius: 8px;
    border-right: 2px solid #F3F4ED;
}

.drop-list .icon {
    cursor: pointer;
    margin-top: 30px;
    font-size: 40px;
    color: #E65703;
}

form .exchange-rate {
    font-size: 28px;
    font-weight: 600;
    margin: 30px 0 30px;
    text-align: center;
    color: #26577C;
}

form button {
    height: 60px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    background: #26577C;
    border-radius: 8px;
    transition: 0.3s ease;
}

form button:hover {
    background: #26577C;
}

.icon-button {
    background-color: #F3F4ED;
    color: #E65703;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 40px;
    font-size: 32px;
}